
<ion-content class="ion-padding login-fondo">

  <div class="logo-container">
    <img src="assets/image/peludog.png" alt="PeluPet logo" class="logo" />
    <h1 class="titulo">PeluPet</h1>
    <p class="subtitulo">iniciar sesión</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="campo-con-icono">
      <label class="etiqueta">NOMBRE</label>
      <ion-input formControlName="nombreUsuario" type="text"></ion-input>
    </div>

    <div class="campo-con-icono">
      <label class="etiqueta">EMAIL</label>
      <ion-input formControlName="usuario" type="email"></ion-input>
    </div>

    <div class="campo-con-icono">
     <label class="etiqueta">CONTRASEÑA</label>
     <ion-input formControlName="contraseña" type="password"></ion-input>
    </div>

    <ion-button expand="block" class="boton-inicio" type="submit">
      inicio
    </ion-button>
  </form>
</ion-content>
